language: node_js

node_js:
  - "10"
  - "12"

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - yarn global add codecov greenkeeper-lockfile@1

before_script:
  - greenkeeper-lockfile-update

after_script:
  - greenkeeper-lockfile-upload

after_success:
  - cat ./coverage/lcov.info | codecov
